<!DOCTYPE html>
<html>
	{% extends "based.html" %}
	{% block title %}Home Page{% endblock %}
	{% block content %}
		<h1>An unoriginal copy - where are the trains?</h1>
		<p>This site is a (useless) deomstrator of using APIs with Python and Flask to create a webpage. It'll list trains that appear in the <a href="https://www.realtimetrains.co.uk/about/developer/">RealTimeTrains API</a> for a station of your choice. Append the TIPLOC or CRS location code to the end of the url (such as <a href="{{url_for('station_dep', train_loc='BFR')}}">"/BFR"</a> for <a href="https://en.wikipedia.org/wiki/Blackfriars_station">London Blackfriars</a> - note the code!), and details will hopefully be formatted of the trains found!</p>
	{% endblock %}
</html>
