{% extends 'based.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}{{"Edit An Existing" if cafeid else "Add A New"}} Cafe{% endblock %}

{% block content %}
<div class="container">

      <h1>{{"Edit existing cafe in the database" if cafeid else "Add a new cafe into the database"}}</h1>

      <!-- This is where your WTForm will go -->
      {{ wtf.quick_form(form) }}
      
      {% if cafeid: %}
      <a href="{{url_for('delete_cafe', cafe_id = cafeid)}}">Delete this cafe</a>
      {% endif %}

	<p><a href="{{url_for('cafes')}}">See all cafes</a> &#183; <a href="{{url_for('home')}}">Return to index page</a></p>
</div>

{% endblock %}
