{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Delete Cafe{% endblock %}
{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('.static', filename='css/styles.css')}}">
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8">

      <h1>Delete a cafe</h1>
      {% with messages = get_flashed_messages() %}
			{% if messages %}
			<div>
				{% for message in messages %}
					<p>{{ message }}</p>
				{% endfor %}
			</div>
			{% endif %}
		{% endwith %}
      <p>
      Cafe details:
      <ol>
		<li>Name: {{cafe.name}}</li>
		<li>Location: {{cafe.location}}</li>
      </ol>
      Please check the details. If you are sure you want to delete the cafe, then please provide the delete key below:
      </p>
      <!-- This is where your WTForm will go -->
      {{ wtf.quick_form(form) }}

	  <p class="space-above"><a href="{{url_for('cafes')}}">See all cafes</a> &#183; <a href="{{url_for('home')}}">Return to index page</a></p>

    </div>
  </div>
</div>

{% endblock %}
